
.lander {
    padding-bottom: 100px 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    color: 	#ff6055;
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
     
  }
  

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color:#ff6055 }
    50% { border-color:transparent; }
  }
  